/* General body styling */
body {
    margin: 0px;
    padding: 0;
    background: whitesmoke;
    font-family: 'Roboto', Arial, sans-serif;
}

/* Header and logo styling */
#header {
    background-color: #7CC623;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-dropdown-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

#logo img {
    max-width: 100%;
    height: auto;
    margin-left: 10px;
}

/* Dropdown Menu for additional links */
#dropdown {
    position: relative;
}

#dropdown-icon {
    cursor: pointer;
    font-size: 24px;
    color: #140650;
}

#dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    white-space: nowrap;
}

#dropdown:hover #dropdown-content, .dropdown:hover .dropdown-content {
    display: block;
}

#dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px 12px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#dropdown-content button:hover {
    background-color: #ddd;
}

/* Buttons Section */
#buttons {
    white-space: nowrap;
    display: flex;
    text-align: right;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
}

#buttons button {
    background-color: #140650;
    color: #FFFFFF;
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    padding: 8px 24px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

/* Container layout */
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Centered text for headers */
.centered-text {
    text-align: center;
    color: #140650;
    font-size: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 20px;
}

/* Additional container for green area */
.green-area {
    background-color: #7CC623;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

.results-area {
    width: 90%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

/* Dropdown for filters */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
    max-height: 200px;
    white-space: nowrap;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #140650;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.dropdown-content label:hover {
    background-color: #ddd;
    border-radius: 4px;
}

/* Centered search bar */
.search-bar-wrapper {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.search-bar-wrapper input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}

.search-bar-wrapper .search-button {
    background-color: #140650;
    color: #FFFFFF;
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    padding: 8px 24px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

/* Footer styling */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Furniture item styles */
.furniture-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.furniture-image {
    flex: 1;
    max-width: 200px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
}

.furniture-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-button,
.cart-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #140650;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Pagination styles */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.page-button {
    background-color: #140650;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}

.page-button:hover {
    background-color: #7CC623;
}

/* Items per page selector styles */
.items-per-page {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.items-per-page label {
    margin-right: 10px;
}

.items-per-page select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
